html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	margin: 8px;
}

button {
	-webkit-appearance: none;
	border: none;
	outline: none;
	background: transparent;
	vertical-align: top;
	cursor: pointer;
}

#main {
	display: inline-block;
	vertical-align: top;
	background: #dcdcdc;
	border: 4px solid #696969;
	width: 840px;
}

menu {
	margin: 8px;
}

#secondary {
	float: left;
	width: 176px;
}

#items {
}

#casino {
	float: left;
	background: url(/images/tile1.gif) left top;
	width: 640px;
}

.items button {
	width: 32px;
	height: 32px;
	background: url(/images/tile1.gif) no-repeat left top;
	text-shadow:
		0 0 0 #fff,
		-1px 0 0 #fff,
		1px 0 0 #fff,
		0 -1px 0 #fff,
		0 1px 0 #fff,
		-1px -1px 0 #fff,
		1px -1px 0 #fff
		;
	text-align: right;
	line-height: 46px;
	font-weight: bold;
}

.items button.empty {
}

/* States */

.items button.selected {
	border: 1px solid #9ecaed;
	box-shadow: inset 0 0 10px #9ecaed;
}

.items button.engineering {
	border: 1px solid red;
	box-shadow: inset 0 0 10px red;
}

.items button.janitoring {
	border: 1px solid blue;
	box-shadow: inset 0 0 10px blue;
}

.items button.disabled {
	opacity: .5;
}

/* Items */

.items button.slot_machine {
	background-image: url(/images/slot_machine.gif);
}

.items button.generator {
	background-image: url(/images/generator.gif);
}

.items button.vault {
	background-image: url(/images/vault.gif);
}

.items button.carpet_updown {
	background-image: url(/images/carpet_updown.gif);
}

.items button.carpet_leftright {
	background-image: url(/images/carpet_leftright.gif);
}

.items button.janitor_closet {
	background-image: url(/images/janitor_closet.gif);
}

.items button.engineer_room {
	background-image: url(/images/engineer_room.gif);
}

.items button.shrub {
	background-image: url(/images/shrub.gif);
}

.items button.changing_room {
	background-image: url(/images/changing_room.gif);
}

.items button.bar {
	background-image: url(/images/bar.gif);
}

.items button.wall {
	background-image: url(/images/wall.gif);
}

